# Remember to keep in sync with .gitignore
/*.tgz
/.*
/coverage/
/docs/
/Gruntfile.js
/node_modules/
/public/
/src/
/test-files/
/tsconfig.json
/tslint.json
/scripts
/temp

*.spec.d.ts
*.spec.js
*.spec.ts
*.spec.ts.snap
