save-exact=true
strict-allow-scripts=true
min-release-age=1
min-release-age-exclude[]=@html-validate/*
min-release-age-exclude[]=html-validate
min-release-age-exclude[]=html-validate-*
min-release-age-exclude[]=*-html-validate
min-release-age-exclude[]=@sidvind/*
min-release-age-exclude[]=npm-pkg-lint
