@use "bootstrap/variables" as bootstrap;

.frontpage {
	h2 {
		border-bottom: 1px solid bootstrap.$hr-border;
	}

	.features {
		@media (min-width: bootstrap.$screen-sm-min) {
			columns: 2;
			column-gap: 8rem;
		}

		margin-top: bootstrap.$line-height-computed; /* same as default h3 */

		h3:first-child {
			margin-top: 0; /* moved to container element */
		}

		h3 {
			break-after: avoid-column;
		}
	}
}
