@use "sass:math";
@use "bootstrap/variables" as bootstrap;

.jumbotron {
	padding-right: math.div(bootstrap.$grid-gutter-width, 2);
	padding-left: math.div(bootstrap.$grid-gutter-width, 2);

	@media screen and (min-width: bootstrap.$screen-sm-min) {
		padding-right: (bootstrap.$jumbotron-padding * 2);
		padding-left: (bootstrap.$jumbotron-padding * 2);
	}

	pre {
		margin: 2rem 0 3rem;
		display: inline-block;
	}
}
