@use "bootstrap/mixins/tab-focus";
@use "bootstrap/variables" as bootstrap;

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: bootstrap.$font-family-base;
	font-size: bootstrap.$font-size-base;
	line-height: bootstrap.$line-height-base;
	color: bootstrap.$text-color;
	background-color: bootstrap.$body-bg;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: bootstrap.$link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: bootstrap.$link-hover-color;
		text-decoration: bootstrap.$link-hover-decoration;
	}

	&:focus {
		@include tab-focus.tab-focus;
	}
}

img {
	vertical-align: middle;
}

hr {
	margin-top: bootstrap.$line-height-computed;
	margin-bottom: bootstrap.$line-height-computed;
	border: 0;
	border-top: 1px solid bootstrap.$hr-border;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
