dl.rule-info {
	font-size: 0;
	border-top: 1px solid #f06529;
	border-bottom: 1px solid #f06529;
	padding: 1rem;
	margin-bottom: 4rem;

	dt,
	dd {
		display: inline-block;
		font-size: 14px;
	}

	dt {
		margin-right: 0.5rem;
	}

	dd {
		margin-right: 2rem;
	}

	.rule-info-id {
		white-space: no-wrap;
		font-family: $font-family-monospace;
	}
}
