@use "bootstrap/variables" as bootstrap;

dl.rule-info {
	font-size: 0;
	border-top: 1px solid #f06529;
	border-bottom: 1px solid #f06529;
	padding: 1rem;
	margin-bottom: 4rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@media (width > bootstrap.$screen-sm-min) {
		flex-direction: row;
	}

	dt,
	dd {
		display: block;
		font-size: 14px;

		@media (width > bootstrap.$screen-sm-min) {
			display: inline-block;
		}
	}

	dt {
		margin-right: 0.5rem;
	}

	dd {
	}

	ul {
		margin: 0;
		padding: 0;
		display: block;
	}

	li {
		list-style: none;
		display: block;

		@media (width > bootstrap.$screen-sm-min) {
			display: inline-block;

			&:not(:last-child)::after {
				content: ",";
				display: inline;
				margin-right: 0.5ch;
			}
		}
	}

	.rule-info-entry {
		flex: 0 0 auto;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		margin-bottom: 0.5rem;

		@media (width > bootstrap.$screen-sm-min) {
			flex-direction: row;
			margin-bottom: 0;
			margin-right: 2rem;
		}
	}

	.rule-info-id {
		white-space: no-wrap;
		font-family: bootstrap.$font-family-monospace;
	}
}
