@use "bootstrap/variables" as bootstrap;

table {
	background-color: $table-bg;
}

caption {
	padding-top: $table-cell-padding;
	padding-bottom: $table-cell-padding;
	color: $text-muted;
	text-align: left;
}

th {
	text-align: left;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $line-height-computed;

	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;
				line-height: $line-height-base;
				vertical-align: top;
				border-top: 1px solid $table-border-color;
			}
		}
	}

	> thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid $table-border-color;
	}

	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}

	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}

	&-condensed {
		> thead,
		> tbody,
		> tfoot {
			> tr {
				> th,
				> td {
					padding: $table-condensed-cell-padding;
				}
			}
		}
	}

	&-striped {
		> tbody > tr:nth-of-type(odd) {
			background-color: $table-bg-accent;
		}
	}

	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}
}

table {
	th,
	td {
		padding: bootstrap.$table-cell-padding;
	}
}

.rules-table {
	.set {
		width: 5%;
	}

	.fixable {
		width: 5%;
	}

	.name {
		width: 35%;
	}

	.summary {
		width: 55%;
	}
}

%support {
	text-align: center;
}

.support-no {
	@extend %support;
	background: bootstrap.$alert-danger-bg;
	color: bootstrap.$alert-danger-text;
}

.support-yes {
	@extend %support;
	background: bootstrap.$alert-success-bg;
	color: bootstrap.$alert-success-text;
}

.support-planned {
	@extend %support;
	background: bootstrap.$alert-warning-bg;
	color: bootstrap.$alert-warning-text;
}

.support-table {
	em {
		display: block;
		margin-top: 1.5rem;
	}
}

.release-table {
	.release-eol {
		background: bootstrap.$alert-danger-bg;
		color: bootstrap.$alert-danger-text;
	}

	.release-maintenance {
		background: bootstrap.$alert-warning-bg;
		color: bootstrap.$alert-warning-text;
	}

	.release-active {
		background: bootstrap.$alert-success-bg;
		color: bootstrap.$alert-success-text;
	}
}
