$fa-font-path: "fonts";

@import 'font-awesome';
@import 'bootstrap';
@import 'github'; // hljs style

main {
	padding-bottom: 3rem; // to get some space between text and bottom of window.
}

.rules-table {
	.recommended {
		width: 5%;
	}

	.name {
		width: 35%;
	}

	.summary {
		width: 60%;
	}
}
